body {
  /*min-width: 357px;
  max-width: 500px;*/
  width:400px;
  overflow-x: hidden;
  font-family: sans-serif;
}
img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 95%;
  height: 100%;
}
h1{
  text-align:center;
}
#image {
  text-align:center;
}
#explanation {
  display:none;
}

#apod_title {
  font-family: Arial;
}

.button {
  border-radius: 5px;
  border-style: solid;
  border-color: #d8d8d8;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #efefef;
  font-size: 12px;
  font-family: arial;
}

.button:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}
