body {
  /*min-width: 357px;
  max-width: 500px;*/
  width:400px;
  overflow-x: hidden;
}
img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 95%;
  height: 100%;
}
h1{
  text-align:center;
}
#image {
  text-align:center;
}
#explanation {
  display:none;
}

#apod_title {
  font-family: Arial;
}

body {
  font-family: sans-serif;
}
